In [2]:
# Setup inicial

import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)  # Changed max.columns to max_columns (dot to underscore)
pd.set_option('display.float_format', '{:,.2f}'.format)

In [3]:
#Carga de archivos

calendar = pd.read_csv("calendar.csv")
sales_eval = pd.read_csv("sales_train_evaluation.csv")
sales_val = pd.read_csv("sales_train_validation.csv")
sell_prices = pd.read_csv("sell_prices.csv")

In [6]:
#Inspección rápida

calendar.head()
calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1969 entries, 0 to 1968
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          1969 non-null   object
 1   wm_yr_wk      1969 non-null   int64
 2   weekday       1969 non-null   object
 3   wday          1969 non-null   int64
 4   month         1969 non-null   int64
 5   year          1969 non-null   int64
 6   d             1969 non-null   object
 7   event_name_1  162 non-null    object
 8   event_type_1  162 non-null    object
 9   event_name_2  5 non-null      object
 10  event_type_2  5 non-null      object
 11  snap_CA       1969 non-null   int64
 12  snap_TX       1969 non-null   int64
 13  snap_WI       1969 non-null   int64
dtypes: int64(7), object(7)
memory usage: 215.5+ KB

In [9]:
# Then you can check the data
print("Sales validation data:")  # Use print instead of the invalid syntax
sales_val.head()
print(sales_val.shape)

Sales validation data:
(30490, 1919)

In [10]:
#Sell prices

sell_prices.head()
sell_prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6841121 entries, 0 to 6841120
Data columns (total 4 columns):
 #   Column      Dtype
---  ------      -----
 0   store_id    object
 1   item_id     object
 2   wm_yr_wk    int64
 3   sell_price  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 208.8+ MB

In [11]:
#Limpieza básica

calendar ['date'] = pd.to_datetime(calendar['date'])

In [12]:
#Sell prices: validamos precios

sell_prices.describe()

          wm_yr_wk   sell_price
count 6,841,121.00 6,841,121.00
mean     11,382.94         4.41
std         148.61         3.41
min      11,101.00         0.01
25%      11,247.00         2.18
50%      11,411.00         3.47
75%      11,517.00         5.84
max      11,621.00       107.32

In [13]:
#Selección de subset: Se trabajará con un subset controlado...
#Estrategia:
#2-3 categorías (dept_id)
#3 estados-> luego se mapeará por países

selected_depts = ['FOODS_3', 'HOBBIES_1']
selected_states = ['CA', 'TX', 'WI']

sales_subset = sales_val[
    (sales_val['dept_id'].isin(selected_depts)) &
    (sales_val['state_id'].isin(selected_states))
]

In [14]:
sales_subset.shape

(12390, 1919)

In [15]:
#Guardamos output limpio del Notebook 01. No hacemo modelado todavía, solo dejamos datos listos...

sales_subset.to_csv("sales_subset_raw.csv", index=False)
calendar.to_csv("calendar_clean.csv", index=False)
sell_prices.to_csv("sell_prices_clean.csv", index=False)

### ✅ Qué debe quedar claro al cerrar este notebook

✔ Archivos cargados y entendidos

✔ Variables clave identificadas

✔ Subset definido (control de scope)

✔ Datos listos para transformación (wide → long)